html,body{
	margin:0;
	padding:0}
body{
	font: 76% arial,sans-serif;
	text-align:center
}
p{
	margin:0 10px 10px
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  overflow: hidden;
  width: 100%;
	z-index: 99999;
	position: fixed;

}

/* Style the links inside the navigation bar */
.topnav a {
  float:left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 25px;
  font-family: serif;
  font-style: oblique;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: lightgreen;
  color: black;
}

/* Add an active class to highlight the current page */
.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}

div#header{
	background-color:white;
	padding-top: 3vh;
}
div#header h1{
	text-align: center;
	height:80px;
	line-height:50px;
	margin:0;
	padding-left:200px;
	font-size: 60px;
	color: #003366;
	font-family: serif;
	font-style:oblique;
width: 60vw;

}
#header h1:hover{
	color: orange;
}

div#container{
	text-align:left;
	width:90vw;
	margin:0 auto;
}
div#content p {
	line-height:1.5;
	color: #669999;
	padding-top:0vh;
	padding-left:5vw;
	padding-right: 0vw;

	width:60vw;
}
div#content li {
	line-height:1.5;
	color:black;
	padding-right: 30vh;
	padding-left:0vw;
	margin:10px;
	width:60vw;
}

div#content{
	display: inline-block;
	margin-left : 0 180px;
	margin-right:  0 180px;
	margin-top:50px;
	width:70vw;
	float:right;
	font-size:20px;
    width:80vw;
}

div.gallery{
	position: relative;
	 margin: 40px;
  border: 0px solid lightblue;
  float: left;
  width: 305px;
}
div.gallery:hover {
  border: 1px solid blue;
}
div.gallery img {
  width:20vw;
  height:30vh;

}
div#gallery1{
	position: relative;
	 margin: 30px;
  border: 0px solid lightblue;
  float:left;
  width:305px;
}
div#gallery1:hover {
  border: 1px solid blue;
}
div#gallery1 img {
  width:20vw;
  height:30vh;

}
