
body {
margin:.5em;
padding:0;
height:100%;
background-color:#ffffff;
color:#000000;  
text-align:center;
font-family:Arial, Helvetica, sans-serif;
font-size:.9em;
}
#centerColumn {

	text-align:left;
	width:80vw;
	margin:0 auto;

}
/* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  overflow: hidden;
  width: 100%;
	z-index: 99999;
	position: fixed;

}

/* Style the links inside the navigation bar */
.topnav a {
  float:left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 25px;
  font-family: serif;
  font-style: oblique;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: lightgreen;
  color: black;
}

/* Add an active class to highlight the current page */
.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}

div#header{
	background-color:white;
}
div#header h1{
	text-align: center;
	height:40px;
	line-height:50px;
	margin:30px;
	padding-left:100px;
	font-size: 50px;
	color: #003366;
  width: 60vw;
	font-family: serif;
	font-style:oblique;
}
div#content p {
	line-height:1.5;
	color: #669999;
	padding-left: 10vw;
	padding-right:  0vw 200vw;
	width:60vw;

}
#header: h1:hover{
color:orange;
}
p{
	font-size: 20px;
}
div#content{
	display: inline-block;
	margin-left : 0 180px;
	margin-right:  0 180px;
	margin-top: 30px;
	width: 90%;
	float:left ;
	font-size:20px;
    width:70vw;
    padding-right: 0vw;

}
#list{
	color:#669999 ;
  padding-right: 0vw;
  padding-left: 12vw;
}

#footer {
position:relative;
clear:both;
bottom:0;
margin:5em 0 0 0;
padding:0;
height:4em;
line-height:4em;
text-align:center;
font-size:.7em;
background-color:#ffffff;
}